.page {
	width: 100%;
	min-height: 100vh;
	position: relative;
	box-sizing: border-box;
	overflow: hidden;

	.home-bg {
		position: absolute;
		width: 100%;
		height: auto;
		aspect-ratio: 2.435/1;
		top: 0;
		left: 0;
	}

	.home-head {
		position: relative;
		width: 100%;

		.home-title {
			position: relative;
			width: 100%;
			text-align: center;
			line-height: 32px;
			font-family: PingFang SC, PingFang SC;
			font-weight: 500;
			font-size: 17px;
			color: #000000;
			text-align: center;
			font-style: normal;
			text-transform: none;
		}
	}

	.home-search {
		position: relative;
		width: 100%;
		padding: 20rpx 32rpx;
		margin: 0 auto;
		box-sizing: border-box;
	}

	.home-content {
		position: relative;
		width: 100%;
		padding-bottom: 0;
		box-sizing: border-box;
		overflow-y: auto;
		margin-top: 20rpx;		
		
		.luBox {
			width: 100%;
			margin-top: 20rpx;
			box-sizing: border-box;
			.luTitle{
				font-weight: bold;
				color: #222;
				font-size: 34rpx;
				line-height: 80rpx;
			}
		}
	}
}