.header {
  background-color: red;
  font-size: 20rpx;
  padding: 20rpx;
  color: white;
}
.popup {
  position: absolute;
  top: -20px;
  height: 200rpx;
  width: 400rpx;
  background-color: red;
  z-index: 1000;
}
.container {
  margin: 32rpx;
}

.cardWarp {
  width: 686rpx;
  height: 240rpx;
  position: relative;
  border-radius: 20rpx;
  overflow: hidden;
  padding: 56rpx 284rpx 60rpx 32rpx;
  @include background-image("imgs/report-bg.png");
  .cardInfo {
    .cardTitle {
      font-weight: bold;
      color: #222;
      font-size: 32rpx;
      line-height: 50rpx;
    }
    .cardSubTitle {
      font-weight: 400;
      font-size: 24rpx;
      line-height: 34rpx;
      color: #535873;
    }
  }
  .cardIcon {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 240rpx;
    height: 240rpx;
    overflow: hidden;
    image {
      width: 100% !important;
      height: 100% !important;
    }
  }
}

.inWrap {
  padding: 20rpx;
  .helloGuid {
    .hello {
      padding: 30rpx 20rpx;
      .rPbtn {
        display: inline;
        float: right;
        .pbtn {
          width: 25px !important;
          height: 25px !important;
          background: transparent !important;
          padding: 0 !important;
        }
      }
      .txt {
        min-height: 40rpx;
        color: #13142a;
        font-size: 28rpx;
        line-height: 40rpx;
        margin-top: 10rpx;
      }
    }
    .guid {
      margin-top: 20rpx;
    }
  }
}

.chat-input-bar {
  border-top: solid 1px #f5f5f5;
  background-color: #f8f8f8;
  padding: 20rpx;
  position: relative;
  .fileWarp {
    display: flex;
    align-items: center;
    gap: 24rpx;
  }
  .chat-input-container {
    flex: 1;
    /* #ifndef APP-NVUE */
    display: flex;
    /* #endif */
    padding: 15rpx;
    background-color: white;
    border-radius: 10rpx;
    .chat-input {
      flex: 1;
      font-size: 28rpx;
    }
  }
  .chat-input-history {
    z-index: 99999;
    position: absolute;
    left: 40rpx;
    bottom: 40rpx;
  }

  .chat-input-plus {
    z-index: 99999;
    position: absolute;
    right: 100rpx;
    bottom: 40rpx;
    &.rotate-45 {
      transform: rotate(45deg);
      transform-origin: center center;
    }
  }
  .chat-input-send {
    z-index: 99999;
    position: absolute;
    right: 40rpx;
    bottom: 40rpx;
    width: 45rpx;
    height: 45rpx;
    /* #ifndef APP-NVUE */
    display: flex;
    /* #endif */
    justify-content: center;
    align-items: center;
  }
}
.menuBox {
  padding: 0 24rpx 32rpx;
  @include x-padding-bottom("36rpx");
}
.grid-text {
  font-size: 24rpx;
  color: #5e6d82;
}

/* 语音输入弹层 */
.voiceInputMark {
  // ::v-deep .u-drawer-bottom { background-color: rgba(0, 0, 0, 0.5) !important; }
  .voiceInputPopup {
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0.6) !important;
    .pWrap {
      position: relative;
      height: 100%; /* overflow: hidden; */
      .recordBox {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        .inBox {
          border-radius: 30rpx;
          padding: 20rpx;
          .tip {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            height: 46rpx;
            color: #5e6772;
            font-size: 28rpx;
            line-height: 46rpx;
            font-weight: bold;
            .dot {
              width: 46rpx;
              height: 46rpx;
              background: linear-gradient(to bottom, #ffe2e3, #e8e5ff);
              border-radius: 50%;
              margin-right: 20rpx;
            }
          }
          .status {
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
          }
          &.recording {
            background: #fff;
          }
          &.cancelRecord {
            background: linear-gradient(to bottom, #ef0808, #6750ff);
            .tip {
              justify-content: center;
              color: #fff;
            }
          }
        }
      }
      .botTip {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: auto;
        .tip {
          height: 70rpx;
          color: #fff;
          font-size: 28rpx;
          line-height: 70rpx;
          text-align: center;
        }
        .botImg {
          // @include background-image("imgs/voiceBg.png");
          // background-size: 100% auto;
          background-color: rgba(0, 0, 0, 0.6) !important;
          width: 100%;
          height: 200rpx;
          position: relative;
          display: flex;
          align-items: center;
          justify-content: center;
          .layer {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            @include background-image("imgs/voiceBg.png");
          }
        }
      }
    }
  }
}
