.detail {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	background-color: #fff;
	.detail-pic {
		position: relative;
		width: 100%;
		height: auto;
		aspect-ratio: 1.25/1;
		.detail-img {
			position: relative;
			width: 100%;
			height: 100%;
		}
	}
	.detail-content {
		position: relative;
		width: 100%;
		background-color: #fff;
		padding: 20rpx;
		box-sizing: border-box;
		.detail-info {
			position: relative;
			width: 100%;
			.detail-info-title {
				position: relative;
				width: 100%;
				font-family: PingFang SC, PingFang SC;
				font-weight: bold;
				font-size: 16px;
				color: #000000;
				line-height: 19px;
				text-align: left;
				font-style: normal;
				text-transform: none;
				margin: 22rpx 0;
			}
			.detail-info-text {
				position: relative;
				width: 100%;
				font-family: PingFang SC, PingFang SC;
				font-weight: 400;
				font-size: 13px;
				color: #9699a1;
				line-height: 15px;
				text-align: left;
				font-style: normal;
				text-transform: none;
			}
		}
		.detail-date {
			position: relative;
			width: 100%;
			box-sizing: border-box;
			.detail-date-title {
				position: relative;
				width: 100%;
				font-family: PingFang SC, PingFang SC;
				font-weight: bold;
				font-size: 16px;
				color: #000000;
				line-height: 19px;
				text-align: left;
				font-style: normal;
				text-transform: none;
				margin: 22rpx 0;
				margin-top: 40rpx;
			}
			.detail-date-day {
				position: relative;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				.detail-date-day-item {
					position: relative;
					width: 19%;
					padding: 14px 8px;
					box-sizing: border-box;
					background: #f0f2f7;
					border-radius: 4px 4px 4px 4px;
					.detail-date-day-item-num {
						position: relative;
						width: 100%;
						font-family: PingFang SC, PingFang SC;
						font-weight: 500;
						font-size: 15px;
						color: #4b4b4e;
						line-height: 18px;
						text-align: center;
						font-style: normal;
						text-transform: none;
					}
					.detail-date-day-item-text {
						position: relative;
						width: 100%;
						font-family: PingFang SC, PingFang SC;
						font-weight: 400;
						font-size: 13px;
						color: #4b4b4e;
						line-height: 15px;
						text-align: center;
						font-style: normal;
						text-transform: none;
						margin-top: 20rpx;
					}
				}
				.detail-date-day-item-curr {
					position: relative;
					width: 19%;
					padding: 14px 8px;
					box-sizing: border-box;
					background: #0d70f3;
					border-radius: 4px 4px 4px 4px;
					.detail-date-day-item-num {
						position: relative;
						width: 100%;
						font-family: PingFang SC, PingFang SC;
						font-weight: 500;
						font-size: 15px;
						color: #ffffff;
						line-height: 18px;
						text-align: center;
						font-style: normal;
						text-transform: none;
					}
					.detail-date-day-item-text {
						position: relative;
						width: 100%;
						font-family: PingFang SC, PingFang SC;
						font-weight: 400;
						font-size: 13px;
						color: #ffffff;
						line-height: 15px;
						text-align: center;
						font-style: normal;
						text-transform: none;
						margin-top: 20rpx;
					}
				}
			}
			.detail-date-choose {
				position: relative;
				width: 100%;
				display: flex;
				align-items: center;
				justify-content: space-between;
				.detail-date-choose-item {
					position: relative;
					width: 48%;
					.detail-date-choose-item-title {
						position: relative;
						width: 100%;
						text-align: center;
						font-family: PingFang SC, PingFang SC;
						font-weight: 400;
						font-size: 14px;
						color: #000000;
						line-height: 16px;
						text-align: center;
						font-style: normal;
						text-transform: none;
						margin: 22rpx auto;
					}
					.detail-date-choose-item-button {
						position: relative;
						width: 100%;
						border-radius: 30px 30px 30px 30px;
						border: 1px solid rgba(3, 171, 110, 0.5);
						font-family: PingFang SC, PingFang SC;
						font-weight: 400;
						font-size: 14px;
						color: #03ab6e;
						line-height: 16px;
						text-align: center;
						font-style: normal;
						text-transform: none;
						padding: 10px 0;
					}
				}
			}
			.detail-date-condition {
				position: relative;
				width: 100%;
				margin: 30rpx 0;
				.detail-date-condition-head {
					position: relative;
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: space-between;
					.detail-date-condition-head-state {
						position: relative;
						display: flex;
						align-items: center;
						.detail-date-condition-head-state-item {
							position: relative;
							display: flex;
							align-items: center;
							margin-right: 20rpx;
							.no-reserve-icon {
								position: relative;
								width: 12px;
								height: 3px;
								background-color: #03ab6e;
								margin-right: 10rpx;
							}
							.reserve-icon {
								position: relative;
								width: 12px;
								height: 3px;
								background-color: #eef0f4;
								margin-right: 10rpx;
							}
							.no-reserve-text,
							.reserve-text {
								position: relative;
								font-family: PingFang SC, PingFang SC;
								font-weight: 400;
								font-size: 22rpx;
								color: #9699a1;
								text-align: left;
								font-style: normal;
								text-transform: none;
							}
						}
					}
					.detail-date-condition-head-des {
						position: relative;
						font-family: PingFang SC, PingFang SC;
						font-weight: 400;
						font-size: 13px;
						color: #0d70f3;
						line-height: 15px;
						text-align: right;
						font-style: normal;
						text-transform: none;
					}
				}
				.detail-date-condition-time {
					position: relative;
					width: 100%;
					display: flex;
					align-items: center;
					justify-content: space-between;
					margin-top: 20rpx;
					.detail-date-condition-time-item {
						position: relative;
						width: 12px;
						.detail-date-condition-time-item-block {
							position: relative;
							width: 100%;
							height: 12px;
							background-color: #eef0f4;
						}
						.detail-date-condition-time-item-block-curr {
							position: relative;
							width: 100%;
							height: 12px;
							background-color: #03ab6e;
						}
						.detail-date-condition-time-item-num {
							position: relative;
							width: 100%;
							font-family: PingFang SC, PingFang SC;
							font-weight: 400;
							font-size: 20rpx;
							color: #d5d8e1;
							line-height: 12px;
							text-align: center;
							font-style: normal;
							text-transform: none;
							margin-top: 5rpx;
						}
					}
				}
				.detail-date-condition-button {
					position: relative;
					width: 100%;
					margin: 30rpx 0;
					padding-bottom: 30rpx;
					display: flex;
					justify-content: flex-end;
					border-bottom: 1px solid #e6e9f1;
					.detail-date-condition-button-block {
						position: relative;
						width: 80px;
					}
				}
			}
		}
		.detail-form {
			position: relative;
			width: 100%;
			margin-top: 50rpx;
			.detail-form-item {
				position: relative;
				width: 100%;
				margin-top: 30rpx;
				.detail-form-item-title {
					position: relative;
					width: 100%;
					margin-bottom: 10rpx;
					font-family: PingFang SC, PingFang SC;
					font-weight: 400;
					font-size: 14px;
					color: #4b4b4e;
					line-height: 16px;
					text-align: left;
					font-style: normal;
					text-transform: none;
					padding-left: 10rpx;
				}
			}
			.submit-button {
				position: relative;
				width: 100%;
				margin-top: 30rpx;
				margin-bottom: constant(safe-area-inset-bottom);
				margin-bottom: env(safe-area-inset-bottom);
			}
		}
	}
}
