.launch {
	width: 100%;
	min-height: 100vh;
	position: relative;
	box-sizing: border-box;
	.launch-bg {
		position: absolute;
		width: 100%; height: auto;
		aspect-ratio: 2.435/1;
		top: 0; left: 0;
	}

	.launch-head {
		position: relative;
		width: 100%;

		.launch-title {
			position: relative;
			width: 100%;
			line-height: 32rpx;
			font-weight: 500;
			font-size: 32rpx;
			color: #000000;
			text-align: center;
		}
	}

	.launch-content {
		background-color: #fff;
		padding: 32rpx;
		text-align: center;
		
		.launch-welcome {
			font-size: 48rpx;
			font-weight: 700;
			line-height: 96rpx;
			color: #303133;
		}
		
		.launch-description {
			font-size: 32rpx;
			line-height: 64rpx;
			color: #606266;
			margin-bottom: 56rpx;
		}
		
		.launch-buttons {
			align-items: center;
			display: flex;
			flex-direction: column;
			gap: 36rpx; width: 100%;
			margin: 20rpx 0;
			
			.launch-button {
				position: relative;
				width: 80%; height: 120rpx;
				color: #fff; border: none;
				border-radius: 60rpx;
				font-size: 36rpx;
				font-weight: 600;
				line-height: 120rpx;
				text-align: center;
				box-shadow: 0 4rpx 15rpx rgba(0, 0, 0, 0.15);
				transition: all 0.3s ease;
				
				&:first-child {
					background-color: #409eff;					
					&:active { background-color: #66b1ff; }
				}
				
				&:last-child {
					background-color: #67c23a;					
					&:active { background-color: #85ce61; }
				}
			}
		}
	}
	
		
	.launch-footer {
		margin-top: auto;
		margin-bottom: 40rpx;
		font-size: 24rpx;
		color: #909399;
		text-align: center;
	}
}
