.content{
	padding: 32rpx;
	.ocrImgBox {
        width: 100%;
        margin: 32rpx 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
		.ocrImg{
			width: 240rpx;
            height: 320rpx;
            overflow: hidden;
            border-radius: 8rpx;
            image {
                width: 100%;
                height: 100%;
            }
		}
	}
    .datail {
        padding: 20rpx;
    }
}
    
/*共用底部按钮*/
.pubBotBtn {
	background: #fff;
    padding: 20rpx;
    display: flex;
    align-items: center;
    justify-content: space-between;
	.wrap {
        padding: 0;
        width: 100%;
	}
}